[Desktop Entry]
Name=IB Gateway 10.34 Wayland
# Support any versions within the Jts directory - $HOME/Jts/1030 $HOME/Jts/1034 etc
Exec=bash -c 'version_dir=$(find "$HOME/Jts/ibgateway/" -maxdepth 1 -mindepth 1 -type d | sort -V | tail -n 1); if [ -n "$version_dir" ]; then env GDK_BACKEND=x11 "$version_dir/ibgateway" %U; fi'
Type=Application
Icon=/home/f1/Jts/ibgateway/1034/.install4j/ibgateway.png
StartupWMClass=install4j-ibgateway-GWClient
Categories=Application;

