[Desktop Entry]
Name=Obsidian Wayland
# Exec=/snap/bin/obsidian --ozone-platform=wayland %U
Exec=flatpak run md.obsidian.Obsidian
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
