# https://github.com/chriskempson/base16/blob/master/styling.md
colors = {
    'bg': '#{{base00-hex}}',
    'bg_lighter': '#{{base01-hex}}',
    'bg_select': '#{{base02-hex}}',
    'comment': '#{{base03-hex}}',
    'fg_dark': '#{{base04-hex}}',
    'fg': '#{{base05-hex}}',
    'fg_light': '#{{base06-hex}}',
    'bg_light': '#{{base07-hex}}',
    'color1': '#{{base08-hex}}',
    'color2': '#{{base09-hex}}',
    'color3': '#{{base0A-hex}}',
    'color4': '#{{base0B-hex}}',
    'color5': '#{{base0C-hex}}',
    'color6': '#{{base0D-hex}}',
    'color7': '#{{base0E-hex}}',
    'color8': '#{{base0F-hex}}',
  }
