[colors]
bg = #{{base00-hex}}
bglight = #{{base01-hex}}
bgselect = #{{base02-hex}}
comment = #{{base03-hex}}
fgdark = #{{base04-hex}}
fg = #{{base05-hex}}
fglighter = #{{base06-hex}}
bglighter = #{{base07-hex}}
red = #{{base08-hex}}
orange = #{{base09-hex}}
yellow = #{{base0A-hex}}
green = #{{base0B-hex}}
cyan = #{{base0C-hex}}
blue = #{{base0D-hex}}
magenta = #{{base0E-hex}}
purple = #{{base0F-hex}}

primary = #{{base0A-hex}}
