
# REQUIREMENTS:
# udevadm control --reload is necessary after editing this file
# for debugging with ntoify-send, IMPORT{} and RUN+="/bin/su" has to be applied to each command
# make sure the script being executed is chmod +x !!
# anything within /bin/su -c '' needs an absolute path

# workfow:
# udevadm monitor  -s usb <-- use -s to filter by subsystem
# /usr/lib/udev/rules.d <-- shows example rules

# args can be copied straight from udevadm info --attribute-walk --name=/dev/input/by-id/xxxxxxxx

# when Spectre monitor is reconnected, wake the monitor up (this is broken with current drivers / setup)
SUBSYSTEM=="usb", ACTION=="bind", ENV{ID_VENDOR}=="VIA_Labs__Inc.", IMPORT{program}="/usr/bin/xpub", RUN+="/bin/su $env{XUSER} -c '/home/$env{XUSER}/dev/bin/x_reconnect_monitor'"

# http://blog.fraggod.net/2012/06/16/proper-ish-way-to-start-long-running-systemd-service-on-udev-event-device-hotplug.html
# when Corsair keyboard is plugged in, start kmonad
# old install - udev config with ckb next driver
# SUBSYSTEM=="input", ACTION=="add", ATTRS{name}=="ckb1: Corsair Gaming K55 RGB Keyboard vKB", ENV{SYSTEMD_WANTS}="kmonad.service", TAG+="systemd"


# new install - without ckb next driver
SUBSYSTEM=="usb", ACTION=="bind", ENV{ID_MODEL_FROM_DATABASE}=="Corsair Corsair Gaming K55 RGB Keyboard", ENV{SYSTEMD_WANTS}="kmonad.service", TAG+="systemd"
# to test:
# SUBSYSTEM=="usb", ACTION=="bind", ENV{ID_MODEL_FROM_DATABASE}=="Corsair Corsair Gaming K55 RGB Keyboard", IMPORT{program}="/usr/bin/xpub", RUN+="/bin/su $env{XUSER} -c '/usr/bin/notify-send Hello'"

