[Unit]
Description="kmonad daemonized"
; BindsTo=dev-input-by\x2did-ckb\x2dCorsair_Gaming_K55_RGB_Keyboard_vKB_\x2devent.device

; After=dev-input-by\x2did-ckb\x2dCorsair_Gaming_K55_RGB_Keyboard_vKB_\x2devent.device

# https://unix.stackexchange.com/a/642767
[Service]
Type=simple
; ExecStart=/home/f1/dot/kmonad/start_corsair
ExecStart=sh -c 'kmonad /home/f1/dot/kmonad/corsair.kbd'
RemainAfterExit=true
StandardOutput=journal
Restart=always
; [Install]
; WantedBy=dev-input-by\x2did-ckb\x2dCorsair_Gaming_K55_RGB_Keyboard_vKB_\x2devent.device

