<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

  <!--  
  https://github.com/koekeishiya/skhd/blob/master/src/service.h
  -->
    <!-- skhd loads in $USER default shell by default (zsh) -->
<dict>
	<key>Label</key>
	<string>skhd</string>
  <key>ProgramArguments</key>
  <array>
      <string>/usr/local/bin/skhd</string>
  <string>-V</string> <!-- Verbose outpput to ~/tmp/skhd.log-->
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>SHELL</key>
    <string>/bin/sh</string>
  </dict>
	<key>RunAtLoad</key>
	<true/>
  <key>KeepAlive</key>
  <true/>
  <key>SuccessfulExit</key>
  <false/>
  <key>Crashed</key>
  <true/>
	<key>StandardErrorPath</key>
  <string>/Users/f1/tmp/skhd.log</string>
	<key>StandardOutPath</key>
  <string>/Users/f1/tmp/skhd.log</string>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>Nice</key>
  <integer>-20</integer>
</dict>
SXc
</plist>
