# [Desktop Entry]
# Name=Discord - Wayland
# Comment=discord wayland
# Exec=/usr/bin/electron19 --enable-features=UseOzonePlatform --enable-gpu --ozone-platform=wayland /usr/lib/discord/app.asar
#Icon=com.visualstudio.code.oss
# Type=Application
# StartupNotify=false
# StartupWMClass=Code
#Categories=TextEditor;Development;IDE;
#MimeType=text/plain;application/x-code-oss-workspace;
#Actions=new-empty-window;
#Keywords=vscode;

#[Desktop Action new-empty-window]
#Name=New Empty Window
#Exec=/usr/bin/code-oss --new-window %F
#Icon=com.visualstudio.code.oss

# /usr/bin/electron16 --enable-features=WebRTCPipeWireCapturer --enable-features=UseOzonePlatform --enable-gpu --ozone-platform=wayland /usr/lib/discord/app.asar
#
[Desktop Entry]
Name=Discord - Wayland
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/usr/share/discord/Discord --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
