# there is kanshi.service provided  by aur kanshi-git but it relies on graphical-session.target
[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://sr.ht/~emersion/kanshi
BindsTo=sway-session.target
After=dunst.service

[Service]
Type=simple
# sleep is needed for kanshi config to surve sway reloads
ExecStart=zsh -c "sleep 1; WAYLAND_DEBUG=1 /usr/bin/kanshi"

[Install]
WantedBy=sway-session.target
