[Unit]
Description=mons
PartOf=graphical-session.target
After=dunst.service

[Service]
ExecStart=/usr/bin/mons -a -x /home/f1/dev/bin/x_profiles
Restart=always

[Install]
WantedBy=xsession.target
