
snippet _ "variable conditional assignment"
	var z = (y == "yes") ? true : false;
snippet _ "for of with index"
	for (let [index, val] of array.entries()) {
	      // your code goes here    
	    }
snippet for of kv pair "for of kv pair"
	for (let i, v] of Object.entries(obj)) {
	
	}