# there is kanshi.service provided  by aur kanshi-git but it relies on graphical-session.target
[Unit]
; Description=Dynamic output configuration for Wayland compositors
; Documentation=https://sr.ht/~emersion/kanshi
BindsTo=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-gammarelay-rs run

[Install]
WantedBy=sway-session.target
