[Unit]
Description=i3 companion
PartOf=graphical-session.target

[Service]
Type=notify
; ExecStart=%h/.config/i3/bin/i3-companion
ExecStart=%h/dot/bin/i3_vincent_test.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
