[Unit]
Description=Sourcegraph
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=sh -c "/home/f1/dev/bin/start_sourcegraph.sh"

[Install]
WantedBy=sway-session.target
