
snippet trig1 "asd1"
	asdasdasd
snippet trig1 "asd1"
	asdasdasd
snippet trig1 "desc2"
	asdasdad
snippet trigadon "asd2"
	asdasdasd
snippet derivation t
	{ config, pkgs, ... }:
snippet top "derivation top"
	{ config, pkgs, ... }: