#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IB Gateway 10.30 Wayland
Exec=GDK_BACKEND=x11 /home/f1/Jts/ibgateway/1030/ibgateway %U
Icon=/home/f1/Jts/ibgateway/1030/.install4j/ibgateway.png
Categories=Application;
StartupWMClass=install4j-ibgateway-GWClient
